h1 {
    color: white;
    text-align: center;
    background-color: black;
}
img {
    width: 200px;
    border: 8px solid black;
    border-radius: 20px;
}
body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h2,h3 {
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style-type: upper-roman;
}